.alert {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 24px;
  padding: 12px 16px;
  border-radius: var(--border-radius);
  border-style: solid;
  border-width: 1px;
  border-color: var(--border-color);
  background: var(--background-color);
  color: var(--text-color);

  &.success span {
    color: var(--success-color);
  }

  &.error span {
    color: var(--error-color);
  }

  &.warning span {
    color: var(--warning-color);
  }

  span {
    color: var(--info-color);
    font-weight: bold;
  }

}